{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "nav": "./src/nav",
          "stores": "./src/stores"
        }
      }
    ]
  ]
}
